<p-button label="New Game" (click)="newGame()"></p-button>
&nbsp;
<p-dropdown [options]="gameModes" [(ngModel)]="selectedGameMode" optionLabel="name" (onChange)="onGameModeChange();"></p-dropdown>
&nbsp;
<span>{{selectedGameMode.tooltip}}</span>
<table>
    <tr>
        <td></td>
        <td>
            <button pButton pRipple type="button" icon="pi pi-chevron-up" class="p-button-rounded p-button-outlined"
                    (click)="moveUp()">
            </button>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-outlined"
                    (click)="moveLeft()">
            </button>
        </td>
        <td></td>
        <td>
            <button pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-rounded p-button-outlined"
                    (click)="moveRight()">
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button pButton pRipple type="button" icon="pi pi-chevron-down" class="p-button-rounded p-button-outlined"
                    (click)="moveDown()">
            </button>
        </td>
        <td></td>
    </tr>
</table>

<table *ngIf='game && showLabyrinth' style="vertical-align:top">
    <tr *ngFor='let row of game.labyrinth; let i = index'>
        <ng-container *ngFor='let col of game.labyrinth[i]; let j = index'>
            <ng-container *ngIf = '(i == game.currentPosition.row && j == game.currentPosition.column); then currentPosition; else notCurrentPosition'>
            </ng-container>
            <ng-template #currentPosition>
                <td class="current-position"></td>
            </ng-template>
            <ng-template #notCurrentPosition>
                <td [className]='col'></td>
            </ng-template>
        </ng-container>
    </tr>
</table>
<p>Bugs or suggestions, please contact: <a href="mailto:airamez@gmail.com">airamez@gmail.com</a></p>