td {
    height: 30px;
    width: 30px;
}

.Wall {
    background-color: rgb(190, 134, 65);
}

.Start {
    background-color: green;
}

.Exit {
    background-color: dodgerblue;
}

.Space {
    background-color: rgb(187, 183, 183);
}

.current-position {
    background-color:black
}